@charset "UTF-8";
/* CSS Document */

/* ---------- GENERAL STRUCTURE / HTML ---------- */

html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height:100%;
	}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height:100%;
	position: relative;
	background-color: #fff;
	color: #222;
	}

p {
	margin-top: 0;
	}

/* ---------- TABLE ---------- */

table, th, td {
	border: 0px;
}

/*  ------  TITLES & TEXT --------*/

body,h1,h2,h3,h4,h5,h6,p,ul {
	font-family: 'Lato', sans-serif;
	font-size: 100%;

}

code {
	font-size: 130%;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: #a29797;
	text-transform: uppercase;
}

h1 {
    font-size: 130%;
}

h2 {
    font-size: 120%;
	font-weight: bold;
	color: #4A6E78;
}

h3 {
	font-size: 105%;
    color: #afa70e;
}

/* ---  email hiding ---- */

.email:after {
	content: '@univ-lille3.fr';
}

.email {
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
}

.no_display p {
	display: none;
}

.no_display:after {
	content: '.';
}

/*  ------  LINKS --------*/

a {
	color: #555;
	text-decoration: none;
}

a {
	color: #AFA70E;
}

a:hover {
	text-decoration: none;
	color: #C84B24;
}

/* ---------- iFRAME --------- */

iframe {
	border : 3px solid #ddd;
	float: left;
	width:400px;
	height: 228px;
	margin-bottom: 2em;
}

/*  ------  SEPARATOR --------*/

hr {
	background-color: #ddd;
    border: 0 none;
    height: 1px;
	width: 75%;
}

blockquote {
    border-left-width: 10px;
    background-color: #F8F8F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    border-left: 5px solid #EEE;
}

/*  ------  CONTAINER --------*/
/* contains header, accordion menu, content, footer*/

#container {
	margin: 0;
	min-height: 100%;
	width:100%;
	position: absolute;
	overflow: visible;
}


/* --------- CONTENT -----------*/

.content{
	padding: 2em;
	margin-left: 21.75em;
	margin-bottom:7.5em; /* Height of the footer */
	display: block;
	width: 60%;
	text-align: justify;
}

.fil_ariane {
    color: grey;
    font-size: 85%;
	padding-bottom: 1em;
}

/*  ------  HEADER --------*/

header {
	text-align: center;
}

header  h1 a {
	height: 3em;
	display: block;
	background: url("../svg/logo_plat_vert.svg") no-repeat;
	background-position: center;
	text-indent : -9999px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

header  h1 a:hover {
	height: 3em;
	display:block;
	background: url("../svg/logo_plat_rouge.svg") no-repeat;
	background-position: center;
	text-indent : -9999px;
    opacity: 0.6;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/* -------- Module Menu  -----------------*/

nav.module_menu {
    font-size: 1em;
    font-weight: bold;
    padding: 1px 0;
    text-align: center;
    text-transform: uppercase;
}

nav.module_menu li {
    display: inline;
    list-style-type: none;
    margin: 0 10px 0 0;
}

nav.module_menu li a.active {
    background-color: #afa70e;
    color: #fff;
}

nav.module_menu li a {
    border-radius: 6px;
    color: #afa70e;
    padding: 6px 10px;
}
nav.module_menu li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #C84B24;
}

/*  ------  Navigation MENU accordion --------*/

.accordion  ul li{
		list-style-type: none;
		font-weight: bold;
}

.accordion {
    position:relative;
	margin-top: -54px;
	z-index: 100; /* Keep it above to avoid overlap by footer*/
	float:left;
	width: 17.75em;
	padding: 0 2em 7em; /* padding bottom = height of the footer*/
	min-height: 100%;
	height:100%;
}

.accordion li {
  /*border-bottom: 1px solid #d9e5e8;*/
  position: relative;
}
.accordion li p {
  display: none;
  padding: 0;
  color: #6b97a4;
}
.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  text-indent: 0px;
  user-select: none;
}

.accordion a.section {
  font-weight: 600;
  line-height: 2;
  font-size: 14px;
  font-size: 0.875rem;
}

.accordion a.subsection {
  font-weight: normal;
  line-height: 1.8;
  font-size: 14px;
  font-size: 0.875rem;
}

.accordion p {
  font-size: 11px;
  font-size: 0.7125rem;
  line-height: 1;
  padding: 2px;
}

a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

a.active{
	color: #4a6e78;
}

/*  ------  MENU CLASS --------*/
/* ENABLES ICONS BEHIND SPECIFIC EXERCISES/TEXTS CLASS IN THE MENU */

.subsection:before{
	display: inline-block;
    width: 1.4em;
    height: 1.4em;
	margin-right: 0.4em;
	float:left;
}

.label:before {
    content: url('../svg/activite_label.svg');
}

.howto:before {
    content: url('../svg/help.svg');
}

.Comprehension:before {
	content: url('../svg/activite_quiz.svg');
}

.correction:before {
    content: url('../svg/activite_correction.svg');
}
.Activite:before {
    content: url('../svg/activite_assign.svg');
}
.ActiviteAvancee:before {
    content: url('../svg/activite_attendanceregister.svg');
}
.webcontent:before{
    content: url('../svg/activite_page.svg');
}
/*---------------------------------------------*/
/*---------  SUBCLASSES OF CONTENT ------------*/
/*---------------------------------------------*/

/* --------  ACCUEIL  -----------*/

.accueil{
	padding: 2em;
	width: 60%;
	min-width: 300px;
	min-height: 100%;
	float: left;
	margin-left: 20%;
	margin-bottom: 100px;
	text-align: justify;
}

h2.accueil, h3.accueil {
	text-align: left;
}

/*  --------  Questions quizz ------------ */
.question {
	margin: 5px;
	padding: 3px;
}
.question li > p {
	display: inline;
}
.question > ul > li{
	list-style: none;
}
.question p.questiontitle {
	font-weight: bold;
	color: dark-grey;
}

.right_answer:before{
	display: inline-block;
    width: 1.4em;
    height: 1.4em;
	margin-right: 0em;
	margin-left: -1.4em;
	float:left;
    content: url('../svg/activite_correction.svg');
}

.global_feedback{
	color:darkgray;
}
/* ---------  fancyBox for video text in "lessons" main sections display */

.fancybox-opened .fancybox-skin{
	box-shadow: none!important;
	-webkit-box-shadow:none!important;
}

div.inline {
	cursor: pointer;
	text-align: center;
	width: 220px;
	height: 205px;
	overflow: hidden;
	color: #AFA70E; /*same color than anchors a*/
	margin-bottom: 3em;
}

div.mini-text{
	font-size: 0.3em;
	height: 201px;
	color: gray;
	text-align: justify;
	padding: 3em;
}

div.fancy-text{
	text-align: justify;
	padding: 2em;
}

/*  -----------  FOOTER ------------*/
footer {
	height:7.5em; /* Height of the footer */
	position:absolute;
	bottom:0;
	right: 0;
    left: 0;
	text-align: center;
}

footer img {
	height:4em;
	opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

footer img:hover {
	opacity: 0.6;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}
