/*-----------------------
Divers
-------------------------*/

@charset "UTF-8";
/* CSS Document */


/* ---------- COLORS & STYLES ---------- */

/*-------------------------*/
/*  ------  GENERAL BLOCS--------*/
/*-------------------------*/

body {
	background-color: #fff;
	color: #222;
}

/*  ------  TITLES & TEXT --------*/

body,h1,h2,h3,h4,h5,h6,p,ul {
	font-family: 'Lato', sans-serif;
	font-size: 100%;

}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: #a29797;
	text-transform: uppercase;
}

h1 {
    font-size: 130%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 110%;
}


/*  ------  LINKS --------*/

a {
	color: #555;
	text-decoration: none;
}

a {
	color: #AFA70E;
}

a:hover {
	text-decoration: none;
	color: #C84B24;
}

/*  ------  LISTS --------*/

/*ul li {
	list-style-type: square;
	line-height: 200%
}*/

/*  ------  SEPARATOR --------*/

hr {
	background-color: #ddd;
    border: 0 none;
    height: 1px;
	width: 75%;
}


/*-------------------------*/
/*  ------  SPECIFIC --------*/
/*-------------------------*/


/*  ------  HEADER --------*/


header {
	text-align: center;
}

header  h1 a {
	height: 3em;
	display: block;
	background: url("../svg/logo_plat_vert.svg") no-repeat;
	background-position: center;
	text-indent : -9999px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

header  h1 a:hover {
	height: 3em;
	display:block;
	background: url("../svg/logo_plat_rouge.svg") no-repeat;
	background-position: center;
	text-indent : -9999px;
    opacity: 0.6;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/*  ------  MENU --------*/

/*#accordion {
	border : 1px dotted #C8BEBE;
}

#accordion  ul li{
		list-style-type: none;
		font-weight: bold;
}

#accordion {
    position:relative;
	float:left;
	width: 17.75em;
	padding: 2em;
	min-height: 100%;
	height:100%;
}*/

.accordion  ul li{
		list-style-type: none;
		font-weight: bold;
}

.accordion {
    position:relative;
	/*position: fixed;
	top:130px;*/
	z-index: 100; /* Keep it above to avoid overlap by footer*/
	float:left;
	width: 17.75em;
	padding: 0 2em 7em; /* padding bottom = height of the footer*/
	min-height: 100%;
	height:100%;
}

.accordion li {
  /*border-bottom: 1px solid #d9e5e8;*/
  position: relative;
}
.accordion li p {
  display: none;
  padding: 0;
  color: #6b97a4;
}
.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  text-indent: 0px;
  user-select: none;
}

.accordion a.section {
  font-weight: 600;
  line-height: 2;
  font-size: 14px;
  font-size: 0.875rem;
}

.accordion a.subsection {
  font-weight: normal;
  line-height: 1.8;
  font-size: 14px;
  font-size: 0.875rem;
}

.accordion p {
  font-size: 11px;
  font-size: 0.7125rem;
  line-height: 1;
  padding: 2px;
}

a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

a.active{
	color: #4a6e78;
}

/*  ------  MENU CLASS --------*/
/* ENABLES ICONS BEHIND SPECIFIC EXERCISES/TEXTS CLASS IN THE MENU */

.subsection:before{
	display: inline-block;
    width: 1.4em;
    height: 1.4em;
	margin-right: 0.4em;
	float:left;
}

.label:before {
    content: url('../svg/activite_label.svg');
}

.howto:before {
    content: url('../svg/help.svg');
}

.auto-evaluation:before {
	content: url('../svg/activite_quiz.svg');
}

.correction:before {
    content: url('../svg/activite_correction.svg');
}
.devoirs:before {
    content: url('../svg/activite_assign.svg');
}
.webcontent:before{
    content: url('../svg/activite_page.svg');
}

/* ---------- NAV MENU - RENAMED AS "ACCORDION" --------- */


/* Questions quizz */
.question {
	margin: 5px;
	padding: 3px;
}

.question ul {
	list-style-type: none;
}

.question p.questiontext {
	font-weight: bold;
	color: dark-grey;
}

/* ---------  fancyBox for video text in "lessons" main sections display */

.fancybox-opened .fancybox-skin{
	box-shadow: none!important;
	-webkit-box-shadow:none!important;
}

div.inline {
	cursor: pointer;
	text-align: center;
	width: 220px;
	height: 228px;
	overflow: hidden;
	color: #AFA70E; /*same color than anchors a*/
	margin-bottom: 2em;
}

div.mini-text{
	font-size: 0.3em;
	height: 201px;
	color: gray;
	text-align: justify;
	padding: 3em;
}

div.fancy-text{
	text-align: justify;
	padding: 2em;
}
/*  ------  FOOTER --------*/

footer {
	/*border-top : 1px dotted #C8BEBE; FIXME : removed because sometimes footer area overlap menu */
}

footer img {
	height:4em;
	opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

footer img:hover {
	opacity: 0.6;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/* ---------- iFRAME --------- */

iframe {
	border : 3px solid #ddd;
	float: left;
	width:400px;
	height: 228px;
	margin-bottom: 2em;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* ---------- GENERAL STRUCTURE / HTML ---------- */

html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height:100%;
	}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height:100%;
	position: relative;
	}


p {
	margin-top: 0;
	}

/* ---------- TABLE ---------- */

table, th, td {
	border: 0px;
}



/*  ------  CONTAINER --------*/
/* ------ contains header, accordion, content, footer ------ */

#container {
	margin: 0;
	min-height: 100%;
	width:100%;
	position: absolute;
	overflow: visible;
}

/*  ------  HEADER --------*/

header {
	/*margin: 2em;*/
}



/* --------- CONTENT -----------*/

.content{
	padding: 2em;
	margin-left: 21.75em;
	margin-bottom:7.5em; /* Height of the footer */
	display: block;
}



/* ---------- FOOTER --------- */


footer {
	height:7.5em; /* Height of the footer */
	position:absolute;
	bottom:0;
	right: 0;
    left: 0;
	text-align: center;
}
