#gauche{
  float: left;
  width: 45%;
  padding:1em;
}

#droite{
  float: right;
  width: 45%;
  padding:1em;
}

#gauche> h1, #droite> h1 {
  text-align: center;
  color:olive;
}

#input{
  width:100%;
  height:200px;
}

#drendu{
  width:80%;
  height: 200px;
  padding: 1em;
  margin: 1em;
}

