<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="css/style.css" media="screen" />
    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/culturenum.js"></script>
    <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <title>Culture Numérique | Présentation des modules de cours</title>
</head>

<body>
    <!--  HEADER -->
    <div id="container">
        <header>
            <h1>
                <a title="Culture Numérique" class="maintitle" href="http://culturenumerique.univ-lille3.fr">Culture Numérique</a>
            </h1>
            <h2>Site vitrine de présentation des modules de cours</h2>
        </header>
        <!-- Module Menu FIXME : fetch this from toHTMLgobal.config.json -->
        <nav class="module_menu">
            <ul id="static-nav">
                <li><a class="active" href="index.html">Accueil</a></li>
            </ul>
        </nav>

        <div class="module_content">

        </div>
        <!--  EndOf <div class="module_content">-->
        <footer>
            <a href="https://www.univ-lille3.fr/">
                <img src="svg/logo_lille3.svg" title="" alt="Lille 3" />
            </a>
            <p><a href="http://culturenumerique.univ-lille3.fr/" title="Culture Numérique">Culture Numérique</a> - 2015</p>
        </footer>
    </div>
    <!-- End of container-->
</body>

</html>